html, body, #map-canvas {
  height: 100%;
  margin: 0px;
  padding: 0px
}

#map_canvas {
  position: absolute;
  top: 10px;
  left: 10px;
  height: 100%;
  width: 100%;
}

.overmap_panel {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 99;
  max-width: 320px;
}

.overmap_panel>div {
  padding: 1px 8px;
  border-width:2px;
  background-color: white;
  margin: 5px;
  max-height: 400px;
  overflow-y: auto;
}

h2 {
  margin: 0px;
  font-size: 1.1em;
}

form * {
  display: block;
  min-width: 250px;
}

ul, ol {
  padding: 0;
  margin: 0;
}

li {
  line-height: 28px;
  overflow: hidden;
  height: 24px;
  line-height: 24px;
}

li:hover {
  background-color: #f1f1f1;
}

li a,
li a:hover,
li a:visited {
  text-decoration: none;
  color: inherit;
}

ul li {
  list-style-type: none;
}

button.fa {
  background-color: inherit;
  border: none;
  padding-top: 3px;
  color: lightgrey;
}

button.fa:focus {
  outline: none;
  color: black;
}

button.fa.btn-on {
  color: darkgreen;
}

a.btn {
  text-decoration: inherit;
  color: inherit;
}

.route-steps {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.route-step {
  font-size: 0.8em;
}
