<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Tour planner</title>
    <link rel="stylesheet" href="app.css">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
  </head>
  <body>
    <div
        id="menu-toggle"
        class="fa fa-lg fa-fw fa-bars"
        ng-init="showMenu = true"
        ng-click="showMenu = !showMenu"
    ></div>
    <menu ng-show="showMenu" ng-view></menu>
    <div id="map-canvas"></div>
    <div>
      <h1>Selected Location</h1>
      <p>Description</p>
      <form>
        <button ng-click="pointCtrl.directionsFrom()">
          Directions from
        </button>
        <button ng-click="pointCtrl.directionsTo()">
          Directions to
        </button>
      </form>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-resource.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>

    <script src="settings.js"></script>
    <script src="app.js"></script>
    <script src="services.js"></script>
    <script src="controllers.js"></script>
    <script src="filters.js"></script>
    <script src="directives.js"></script>
    <script src="resources.js"></script>
    <script>
      function startApp () {
        angular.bootstrap(document, ['planner']);
      }
    </script>

    <script src="//maps.googleapis.com/maps/api/js?v=3.21&libraries=drawing&callback=startApp" async defer></script>
  </body>
</html>
