<menu-group title="Search">
  <form ng-submit="indexCtrl.search(searchTerm)">
    <input type="text" ng-model="searchTerm" required>
  </form>
</menu-group>

<menu-group title="Other maps" counter="kmlLayers.length">
  <ul>
    <li
      ng-repeat="layer in kmlLayers"
      ng-controller="KmlLayerCtrl as ctrl"
      ng-click="ctrl.toggleKmlLayer()"
      >
      <div
        class="item-title"
        ng-class="{active: isKmlLayerOnMap}"
        >
        {{ layer.name }}
      </div>
    </li>
  </ul>
</menu-group>

<menu-group title="Routes" counter="routes.length">
  <ul>
    <li
      ng-repeat="route in routes | orderBy:'bounds.southWest.lat'"
      ng-controller="RouteCtrl as routeCtrl"
      ng-click="routeCtrl.toggleRoute()"
      >
      <div
        class="item-title"
        ng-class="{active: isRouteOnMap}"
        >
        {{ route.name }}
      </div>
      <div class="item-actions">
        <a
          href="#/routes/{{ route|getResourceID }}"
          class="btn fa fa-arrow-right"
          ></a>
      </div>
    </li>
  </ul>
</menu-group>


<script type="text/ng-template" id="kmlFeatureInfoWindow.html">
  <div class="info-window">
    <h3>{{ event.featureData.name }}</h3>
    <div>{{ event.featureData.description }}</div>
  </div>
</script>
