<div>
  <h2>
    <div class="item-title">
      Other maps
      <span>({{ kmlLayers.length }})</span>
    </div>
  </h2>
  <ul>
    <li
      ng-repeat="layer in kmlLayers"
      ng-controller="KmlLayerCtrl as ctrl"
      ng-click="ctrl.toggleKmlLayer()"
      >
      <div
        class="item-title"
        ng-class="{active: isKmlLayerOnMap}"
        >
        {{ layer.name }}
      </div>
    </li>
  </ul>
</div>

<div>
  <h2>
    <div class="item-title">
      Routes
      <span>({{ routes.length }})</span>
    </div>
    <div class="item-actions">
      <a href="#/new-route/" class="btn fa fa-plus"></a>
    </div>
  </h2>
  <ul>
    <li
      ng-repeat="route in routes | orderBy:'bounds.southWest.lat'"
      ng-controller="RouteCtrl as routeCtrl"
      ng-click="routeCtrl.toggleRoute()"
      >
      <div
        class="item-title"
        ng-class="{active: isRouteOnMap}"
        >
        {{ route.name }}
      </div>
      <div class="item-actions">
        <a
          href="#/routes/{{ route|getResourceID }}"
          class="btn fa fa-arrow-right"
          ></a>
      </div>
    </li>
  </ul>
</div>


<script type="text/ng-template" id="kmlFeatureInfoWindow.html">
  <div class="info-window">
    <h3>{{ event.featureData.name }}</h3>
    <div>{{ event.featureData.description }}</div>
  </div>
</script>
