<div>
  <h2>
    <a href="#/" class="btn fa fa-lg fa-fw fa-long-arrow-left"></a>
    Add
  </h2>
  <form name="routeForm">
    <input ng-repeat="point in points" ng-model="point.location">

    <button ng-click="newRouteCtrl.addPoint()">Add waypoint</button>
    <button ng-click="newRouteCtrl.show()" ng-disabled="routeForm.$invalid">Calculate</button>
    <button ng-click="newRouteCtrl.reset()">Reset</button>
    <button ng-click="newRouteCtrl.save()" ng-disabled="routeForm.$invalid">Save</button>
  </form>
</div>
