<div ng-controller="RouteEditCtrl as routeEditCtrl" ng-if="route">
  <form name="routeForm">
    <input name="name" ng-model="route.name" required placeholder="Name">
    <input type="url" name="url" ng-model="route.url" placeholder="URL">
    <textarea name="description" ng-model="route.description" placeholder="Description"></textarea>
    <button
      ng-click="routeEditCtrl.saveRoute()"
      ng-disabled="routeForm.$invalid"
      >Save</button>
    <a href="#/routes/{{ route|getResourceID }}/">Cancel</a>
  </form>
</div>
