<div ng-controller="RouteCtrl as routeCtrl" ng-if="route">
  <h2>
    <a href="#/" class="btn fa fa-lg fa-fw fa-long-arrow-left"></a>
    {{ route.name }}
  </h2>

  <div>
    <button
      class="fa fa-lg fa-fw fa-map-marker"
      ng-click="routeCtrl.showRoute()"
      ng-show="!routeCtrl.isRouteOnMap()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-map-marker btn-on"
      ng-click="routeCtrl.hideRoute()"
      ng-show="routeCtrl.isRouteOnMap()"
      ></button>

    <button
      class="fa fa-lg fa-fw fa-print"
      ng-click="routeCtrl.logRouteDetails()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-pencil"
      ng-click="routeCtrl.editRoute()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-trash-o"
      ng-click="routeCtrl.deleteRoute()"
      ></button>
  </div>

  <div>
    {{ route|getRouteDuration|displayDuration }} - {{ route|getRouteDistance|displayDistance }}
  </div>

  <div ng-if="route.url">
    <a href="{{ route.url }}" target="_blank" rel="nofollow">
      {{ route.url }}
    </a>
  </div>

  <div ng-if="route.description">
    {{ route.description }}
  </div>

  <ol class="route-steps">
    <li
      ng-repeat="step in route|getRouteSteps"
      ng-click="routeCtrl.showRouteStep(step)"
      class="route-step"
      >
      <i class="maneuver-{{ step.maneuver }}"></i>
      {{ step.duration|displayDuration }} -
      {{ step.distance|displayDistance }}
      {{ step.instructions|htmlToText }}
    </li>
  </ol>
</div>
