<div ng-controller="RouteCtrl as routeCtrl" ng-if="route">
  <h2>
    <a href="#/" class="btn fa fa-lg fa-fw fa-long-arrow-left"></a>
    {{ route.name }}
  </h2>

  <div>
    <button
      class="fa fa-lg fa-fw fa-map-marker"
      ng-click="routeCtrl.showRoute()"
      ng-show="!routeCtrl.isRouteOnMap()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-map-marker btn-on"
      ng-click="routeCtrl.hideRoute()"
      ng-show="routeCtrl.isRouteOnMap()"
      ></button>

    <button
      class="fa fa-lg fa-fw fa-print"
      ng-click="routeCtrl.logRouteDetails()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-pencil"
      ng-click="routeCtrl.editRoute()"
      ></button>
    <button
      class="fa fa-lg fa-fw fa-trash-o"
      ng-click="routeCtrl.deleteRoute()"
      ></button>
  </div>

  <div>
    {{ route|getRouteSteps|getStepsDuration|displayDuration }} - {{ route|getRouteSteps|getStepsDistance|displayDistance }}
  </div>

  <div ng-if="route.url">
    <a href="{{ route.url }}" target="_blank" rel="nofollow">
      {{ route.url }}
    </a>
  </div>

  <div ng-if="route.description">
    {{ route.description }}
  </div>

  <h3>
    Directions
    <button
      class="btn fa fa-lg fa-fw fa-floppy-o"
      ng-click="routeCtrl.saveRoute()"
    ></button>
  </h3>
  <ol class="route-legs">
    <li ng-repeat="leg in route.legs" class="route-leg">
      {{ leg.summary }}
      <div>
        {{ leg.steps|getStepsDuration|displayDuration }} -
        {{ leg.steps|getStepsDistance|displayDistance }}
        <button
          class="btn fa fa-lg fa-fw fa-angle-down"
          ng-init="displaySteps = false"
          ng-click="displaySteps = true"
          ng-hide="displaySteps"
        ></button>
        <button
          class="btn fa fa-lg fa-fw fa-angle-up"
          ng-click="displaySteps = false"
          ng-show="displaySteps"
        ></button>
      </div>
      <ol class="route-steps" ng-show="displaySteps">
        <li
          ng-repeat="step in leg.steps"
          ng-click="routeCtrl.showRouteStep(step)"
          class="route-step"
          ng-init="displayBreakLeg = false"
          ng-mouseenter="displayBreakLeg = true"
          ng-mouseleave="displayBreakLeg = false"
          >
          <i class="maneuver-{{ step.maneuver }}"></i>
          {{ step.instructions|htmlToText }}
          <div class="route-step-summary">
            {{ step.duration|displayDuration }} -
            {{ step.distance|displayDistance }}
            <button
              ng-show="displayBreakLeg"
              class="btn fa fa-lg fa-fw fa-chain-broken"
              ng-click="routeCtrl.breakLeg(leg, step)"
            ></button>
          </div>
        </li>
      </ol>
    </li>
  </ol>
</div>
