<md-content flex-gt-sm layout-gt-sm="row" class="ma-routes-details">
  <div layout-gt-sm="row" flex-gt-sm>

    <div flex-gt-sm="50" flex-sm>
      <form layout="column" flex>
        <md-input-container>
          <label>Route Name</label>
          <input ng-model="route.name" ng-disabled="route.owner != $root.currentUser._id" type="text" aria-label="Name">
        </md-input-container>
        <md-input-container>
          <label>Route Description</label>
          <textarea ng-model="route.description" ng-disabled="route.owner != $root.currentUser._id" type="text" aria-label="Description">
          </textarea>
        </md-input-container>
      </form>
    </div>

    <div flex-gt-sm="50" flex-sm layout="row" style="min-height:300px;">
      <ui-gmap-google-map center="map.center" events="map.events" zoom="map.zoom">
        <ui-gmap-marker coords="route.legs[0].start_location" options="map.marker.options" events="map.marker.events" idkey="route._id">
        </ui-gmap-marker>
      </ui-gmap-google-map>
    </div>

  </div>
</md-content>
